body {
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(241, 231, 241);
}

.gameZone {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.grid {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 400px;
}

.grid > div > div {
    border: 1px solid lightgrey;
    width: calc(100% / 9);
}

.row {
    display: flex;
    height: calc(100% / 8);
    color: transparent;
}

.gameElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-top: 5%;
}

#display-result {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.hidden-colors {
    display: flex;
}

.hidden-color {
    margin: 5px;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
}

.color-pegs {
    display: flex;
    gap: 10px;
    padding-bottom: 16px;
    
}

.color-peg[data-color="green"] {
    background-color: green;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.color-peg[data-color="red"] {
    background-color: red;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.color-peg[data-color="blue"] {
    background-color: blue;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.color-peg[data-color="brown"] {
    background-color: brown;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.color-peg[data-color="orange"] {
    background-color: orange;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.color-peg[data-color="yellow"] {
    background-color: yellow;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    gap: 16px;
    padding-bottom: 24px;
}

.playerGuide {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    width: 90%;
    margin-bottom: 24px;
    text-align: justify;
}