.grid-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    height: 530px;
    width: 400px;
}

.grid div {
    border: 1px solid lightgrey;
    display: inline-block;

}

.color-pegs {
    border-radius: 50%;
}

.color-peg[data-color="green"] {
    background-color: green;
}

.color-peg[data-color="red"] {
    background-color: red;
}

.color-peg[data-color="blue"] {
    background-color: blue;
}

.color-peg[data-color="brown"] {
    background-color: brown;
}

.color-peg[data-color="orange"] {
    background-color: orange;
}

.color-peg[data-color="yellow"] {
    background-color: yellow;
}