.grid-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.grid {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    height: 530px;
    width: 400px;
    margin-top: -300px;
}

.grid > div > div {
    border: 1px solid lightgrey;
    display: inline-block;
    width: calc(100% / 9);
}

.row {
    display: flex;
    height: calc(100% / 8);
    color: transparent;

}

.hidden-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
    background-color: white;
}

.color-pegs {
    border-radius: 50%;
    margin-top: -300px;
}

.color-peg[data-color="green"] {
    background-color: green;
    padding: 20px;
    border-radius: 50%;
}

.color-peg[data-color="red"] {
    background-color: red;
    padding: 20px;
    border-radius: 50%;
}

.color-peg[data-color="blue"] {
    background-color: blue;
    padding: 20px;
    border-radius: 50%;
}

.color-peg[data-color="brown"] {
    background-color: brown;
    padding: 20px;
    border-radius: 50%;
}

.color-peg[data-color="orange"] {
    background-color: orange;
    padding: 20px;
    border-radius: 50%;
}

.color-peg[data-color="yellow"] {
    background-color: yellow;
    padding: 20px;
    border-radius: 50%;
}

/* .color-peg[data-color="white"] {
    background-color: white;
    padding: 20px;
} */

/* .row[data-index="0"] {
    
}

.sqr[data-index="5"] {

} */
